<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">The page you seek can not be found</h1>
        <hr />
        <p>Go to</p>
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
</div>